@import url('https://fonts.googleapis.com/css2?family=Poppins:@300;400;500;600;700;800;900&display=swap');

:root{
    /*- Dark Mode -*/
    --primary-color: #171738;
    --secondary-color: #ed9798;
    --tertiary-color: #8ef9f3;
    --background-color: #23242a;
    --box-color: #1c1c1c;
    --plain-text:white;

    /*- Light Mode -*/
    --lightprime:#f2f3f7;
    --cloud:#c5bac4;
    --storm:#57707a;
    --cream: #e5c6cb;
    --pale:#f5caab;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7); }
    @media screen and (max-width: 992px) {
      body {
        font-size: 16px; } }

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}        

.container{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0;
}

.left{
    left: 0;
    background-color: var(--lightprime);
}

.right{
    right: 0;
    background-color: white;
}

.navigationMenu a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    right: -9%;
    
}

.profileContainer #jeric{
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    width: 15%;
    margin-top: 5%;
    right: -5%;
}

.profileContainer span{
    font-size: 36px;
    color: var(--box-color);
    overflow: none;
    right: -2%;
    position: relative;
}
    @media screen and (max-width: 992px) {
        body {
        font-size: 16px; } }

