/* Import Section */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

:root{

    --mainl: #66fcf1;
    --complementl: #45a29e;
    --secondaryl: #c5c6c7;
    --fgl: #1f2833;
    --bgl: #0b0c10;

    --maind: #66fcf1;
    --complementd: #45a29e;
    --secondaryd: #c5c6c7;
    --fgd: #1f2833;
    --bgd: #0b0c10;
}

/* Body Section Section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

html{
  font-size: 65.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 1.4rem;
}
html::-webkit-scrollbar-thumb{
  background: var(--maind);
}

body{
    justify-content: center;
    min-width: 100vh;
    align-items: center;
    background: var(--bgd);
    
}

/* Profile Section */
header{
  position:fixed;
  top: 0; left: 10rem;
  z-index: 1000;
  height: 100%;
  width: 25rem;
  background: #1a1a1a;
  display:flex;
  align-items: center;
  flex-flow: column;
}

header .user img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  border:1rem solid var(--yellow);
  margin-left: 2rem;
  display: absolute;
}

header .navbar{
  top: -5px;
  left: -10px;
}

header .navbar li{
  list-style: none;
  padding: 5px;
}

header .navbar a{
  color: white;
  text-decoration: none;
}

header .navbar a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header .navbar a:hover::before {
  transform: scaleX(1);
}















/* Animation Section */
@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @-webkit-keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  
  @keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  


/* Media Query Section */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }










